@import "/scss/partials/_header.scss";
@import "/scss/partials/_primero.scss";
@import "/scss/partials/_presentacion3.scss";
@import "/scss/partials/_productos.scss";
@import "/scss/partials/_final.scss";
@import "/scss/partials/_variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
