* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./partials/_variable.scss";
@import "./partials/_header.scss";
@import "./partials/contacto.scss";
@import "./partials/localizacion.scss";
@import "./partials/_primero.scss";
@import "./partials/_presentacion3.scss";
@import "./partials/_productos.scss";
@import "./partials/_final.scss";
