* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(./partials/_header.scss);
@import url(./partials/_primero.scss);
@import url(./partials/_presentacion3.scss);
@import url(./partials/_productos.scss);
@import url(./partials/_final.scss);
